Package: gsl
Version: 2.7.1
Port-Version: 3
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 20ceb998be9bcb594393677ed5a942c2f483626f032b0c45500a8467a1290628
Description: The GNU Scientific Library is a numerical library for C and C++ programmers
